Repository bodoidim/maventest: changes, and which Jenkins stages are due for each by the changed paths.
All: pl_script_detect, whenxml

pl_script_detect:
        steps{
          echo "PL DETECTED"
        }
      

whenxml:
        steps{
          echo "xml detected"
        }
      

xml added
  file.xml
Due: whenxml

renamed
  plscript.pl
Due: pl_script_detect

xmlupdatedxml
  FILE.xml
Due: whenxml

Create text.txt
  text.txt
Due: none

Update text.txt
  text.txt
Due: none

Path conditions:
  pl_script_detect: any of: *.pl
  whenxml: any of: *.xml
